brotli==1.0.9
click==8.0.1
cryptography==3.4.8
Cython==0.29.24
docutils==0.17.1
importlib_metadata==4.8.1
ipython==7.27.0
keyring==23.2.1
lockfile==0.12.2
lxml==4.6.3
mock==4.0.3
numpy==1.21.2
ordereddict==1.1
protobuf==3.18.0
pyOpenSSL==20.0.1
python_socks==1.2.4
simplejson==3.17.5
toml==0.10.2
tornado==6.1
unicodedata2==13.0.0.post2
websockets==10.0
wsaccel==0.6.3
zipp==3.5.0
